<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    </ul>
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topmenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div id="topmenu" class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" th:href="@{/club/list}">club</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/gimnasta/list}">gimnastas </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/aparatos}">aparatos </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/baile}">baile </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/categoria}">categoria </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/competicion}">competicion </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/conjunto}">conjunto </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/entrenador}">entrenador </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/puntuacion}">puntuacion </a></li>
                        </ul>
                    </div>
                </div>

                <span class="text-white me-3">
                    <span>CLUB MARIA</span>
                </span>
            </div>
        </div>
    </nav>
</body>
</html>