<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cabecera Menu</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/Club">Clubs</a></li>
            <li class="nav-item"><a class="nav-link" href="/Gimnasta">Gimnastas</a></li>
            <li class="nav-item"><a class="nav-link" href="/Entrenador">Entrenadores</a></li>
            <li class="nav-item"><a class="nav-link" href="/Conjunto">Conjunto</a></li>
            <li class="nav-item"><a class="nav-link" href="/Baile">Bailes</a></li>
            <li class="nav-item"><a class="nav-link" href="/Aparato">Aparatos</a></li>
            <li class="nav-item"><a class="nav-link" href="/Categoria">Categoria</a></li>
            <li class="nav-item"><a class="nav-link" href="/Competicion">Competiciones</a></li>
            <li class="nav-item"><a class="nav-link" href="/Puntuacion">Puntuacion</a></li>
            <li class="nav-item"><a class="nav-link" href="/Inscripcion">Inscripciones</a></li>

        </ul>
    </div>
</nav>