<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- nombre -->
        <a class="navbar-brand" href="/">RYTMIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces a las entidades -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- Entidad principal -->
                <li class="nav-item"><a class="nav-link" href="/Club">Clubes</a></li>
                <!-- el resto de entidades -->
                <li class="nav-item"><a class="nav-link" href="/Gimnasta">Gimnastas</a></li>
                <li class="nav-item"><a class="nav-link" href="/Entrenador">Entrenadores</a></li>
                <li class="nav-item"><a class="nav-link" href="/Conjunto">Conjuntos</a></li>
                <li class="nav-item"><a class="nav-link" href="/Baile">Bailes</a></li>
                <li class="nav-item"><a class="nav-link" href="/Aparato">Aparatos</a></li>
                <li class="nav-item"><a class="nav-link" href="/Categoria">Categorías</a></li>
                <li class="nav-item"><a class="nav-link" href="/Competicion">Competiciones</a></li>
                <li class="nav-item"><a class="nav-link" href="/Puntuacion">Puntuaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="/Inscripcion">Inscripciones</a></li>
            </ul>
        </div>
    </div>
</nav>
